__pycache__/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/
*.egg-info/
dist/
build/
.venv/
venv/
env/
.minecraft/
*.log
.idea/
.vscode/
*.zip
*.jar
*.png
download_err.txt
download_log.txt
test_bg.py
test_bg2.py
